body{
  overflow: hidden;
}
.wrapperSpace{
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr
}
.previewContainer{
  width:100px;
  height:100px;
  min-width: 100px;
  min-height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  border-radius: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.previews{
  overflow-x: scroll;
}
.previewImage{
  max-width:calc(100% - 15px);
  max-height:calc(100% - 15px);
  min-width: calc(100% - 15px);
  min-height: calc(100% - 15px);
  border-radius: 12px;
}
